@model TDFSv4.Models.Client;
@{
    ViewBag.Title = "Редактирование пользователя";
}

<form asp-action="Edit" asp-controller="Clients">
    <p>Редактирование клиента</p>
    <div class="mb-3">
        <label asp-for="Name" class="control-label">Имя</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Tin" class="control-label">ИНН</label>
        <input asp-for="Tin" class="form-control" />
    </div>

    @for (int i = 0; i < Model.Founders.Count; i++)
    {
        <p>Учредитель @(i + 1)</p>
        <div class="mb-3">
            <label asp-for="Founders" class="control-label">ФИО</label>
            <input asp-for="@Model.Founders[i].Fio" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Founders" class="control-label">ИНН</label>
            <input asp-for="@Model.Founders[i].Tin" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Founders" class="control-label">Дата создания</label>
            <input asp-for="@Model.Founders[i].CreationDate" type="datetime" class="form-control" readonly="" />
        </div>

        <div class="mb-3">
            <label asp-for="Founders" class="control-label">Последняя дата изменения</label>
            <input asp-for="@Model.Founders[i].UpdateDate" type="datetime" class="form-control" readonly="" />
        </div>

        <div class="mb-3">
            <input asp-for="@Model.Founders[i].Id" type="datetime" class="form-control" readonly="" hidden="" /> @*ввод id в форму чтобы потом найти учредителя*@
        </div>
    }

    <div class="mb-3">
        <input type="submit" value="Отправить" />
    </div>
</form>
