@model IEnumerable<TDFSv4.Models.Client>
@{
    ViewData["Title"] = "Clients List";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список клиентов</title>
</head>
<body>
    <h3>Клиенты</h3>
    <table class="table">
        <tr>
            <td>Имя</td>
            <td>Тип</td>
            <td>ИНН</td>
            <td>Учредители</td>
            <td>Дата добавления</td>
            <td>Дата изменения</td>
            <td></td>
        </tr>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Type.Name</td>
                <td>@client.Tin</td>
                <td>
                    @if (client.Founders != null)
                    {
                        @String.Join(',', client.Founders.Select(x => x.Fio));
                    }
                    else
                    {
                        @("Нет учредителя")
                    }
            </td>
            <td>@client.CreationDate</td>
            <td>@client.UpdateDate</td>
            <td><a asp-controller="Clients" asp-action="Edit" asp-route-id="@client.Id">Edit</a></td>
            <td><a asp-action="Delete" asp-controller="Clients" asp-route-id="@client.Id">Delete</a></td>
        </tr>
    }
    </table>
</body>
</html>

