@model IEnumerable<TDFSv4.Models.Client>
@{
    ViewData["Title"] = "Список клиентов";
}

<h3>Клиенты</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Тип</th>
            <th>ИНН</th>
            <th scope="col">Учредители</th>
            <th scope="col">Дата добавления</th>
            <th scope="col" Дата изменения</th>
        </tr>
    </thead>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Name</td>
            <td>@client.Type.Name</td>
            <td>@client.Tin</td>
            <td>
                @(client.Founders.Count != 0 ? String.Join(',', client.Founders.Select(x => x.Fio)) : "Нет учредителя")
            </td>
            <td>@client.CreationDate</td>
            <td>@client.UpdateDate</td>
            <td><a asp-controller="Clients" asp-action="Edit" asp-route-id="@client.Id">Edit</a></td>
            <td><a asp-action="Delete" asp-controller="Clients" asp-route-id="@client.Id">Delete</a></td>
        </tr>
    }
</table>


